.shop img {
    max-width: 248px;
    max-height: 248px;
}
.items {
    background-color: #c0a16b;
    line-height: 40px;
}
.items img {
    max-height: 35px;
}
.dark {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}
div.pay{
    width: 300px;
    height: 400px;
    background-color: white;
    border: 3px solid #000000;
    display: inline-block;
}
.pay img {
    max-height: 53px;
    max-width: 98px;
    display: inline;
}
img.pay {
    height: 400px;
    vertical-align: bottom;
}
.checkList {
    width: 300px;
    height: 400px;
    background-color: #c0a16b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.prod {
    max-width: 150px;
    max-height: 150px;
}
#cart {
    width: 255px;
    height: 255px;
    padding: 30px;
    background-image: url("..//img/cart.jpg");
    background-size: 100%;
}
#cart img{
max-height: 40px;
    max-width: 40px;
}
.menubutton div{
    width: 100px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 120px;
    line-height: 30px;
    text-align: center;
    background-color: brown;
    color: #ffffff;
    cursor: pointer;
}

.menu {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #000000;
}

#menu li {
    display: block;
    background-color: brown;
    width: 80%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}

#menu a {
    text-decoration: none;
    color: #ffffff;
}

#setLevel {
    text-align: center;
}
#setLevel li {
    display: inline-block;
    width: 30%;
    cursor: pointer;
    vertical-align: top;
}

#setLevel div {
    display: inline-block;
    background-color: brown;
    width: 100%;
    height: 250px;
    color: #ffffff;
}

#setLevel ul {
    padding-left: 0px;
}

.level li {
    display: list-item !important;
    width: 100% !important;
    font-size: 0.7em;
    list-style-type: none;
}

#done {
    background-color: brown;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
}

img.money {
    height: 100px;
    width: 184px;
    margin-top: 5px;
}

#goHome {
    background-color: brown;
    width: 320px;
    height: 55px;
    margin: 20px;
    color: #ffffff;
    text-align: center;
}
