<!doctype html>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>retarded4</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/my.css"/>
    <link rel="stylesheet" href="css/colorbox.css">
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
    <!--<script type="text/javascript" src="js/bootstrap.js"></script>-->
    <script type="text/javascript" src="js/microtemplate.js"></script>
    <script type="text/javascript" src="app/helpers.js"></script>
    <script type="text/javascript" src="coffee/game.js"></script>
<!--
    <script type="text/javascript" src="app/app.js"></script>
-->
    <script type="text/javascript" src="app/menu.js"></script>
    <script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="js/ion.sound.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.js"></script>
</head>
<body style="position: relative">
<br/><br/><br/>

<!--
ul.broList>li.broItem*8>button[type=submit].broBtn
-->



<div class="container" style="margin-top: -80px">
    <div id="slide">

    </div>
</div>
<a class="menubutton" href="#menu">
<div>
    меню
</div>
</a>
<script type="text/html" id="tmpl_task">
    <div class="checkList">
        <div style="text-align: center">
            <h3>Список покупок</h3>
        </div>
        <ul>
            <% for (var i=0; i < requiredProducts.length; i++) { %>
            <li>
                <%=requiredProducts[i].name%>
                <%if (lvl > 1) { %>
                 <%=requiredProducts[i].isRequired%> шт.
                <% } %>
            </li>
            <%}%>
        </ul>
    </div>
</script>

<script type="text/html" id="tmpl_choose">
    <div class="panel">
        <div class="panel-heading">
            <h3>Обери в який магазин піти</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="row shops">
                        <% for ( var i = 0; i < shops.length; i++ ) { %>
                        <div class="col-md-4 shop" data-id="<%=shops[i].id%>">
                            <div class="well">
                                <img src="img/shop/<%=shops[i].id%>.jpg"/><br/>
                                <b><%=shops[i].name%></b>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="col-md-2">
                    <ul class="items">
                        <% for ( var i = 0; i < products.length; i++ ) { %>
                        <li class="item">
                            <b><%=products[i].name%></b>
                        </li>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    </div>
</script>

<script type="text/html" id="tmpl_shop">
    <div class="panel">
        <div class="panel-heading">
            <h3>Перетягни необхідні товари до кошику</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="row products">
                        <% for ( var i = 0; i < products.length; i++ ) { %>
                        <% if (i%4 == 0) { %>
                    </div>
                    <div class="row products">
                        <% } %>
                        <div class="col-md-3 product">
                            <div>
                                <img class="prod" data-id="<%=products[i].id%>" src="img/product/<%=shop.id%>_<%=products[i].id%>.jpg"
                                     alt="<%=products[i].name%>"/>

                                <div>
                                    <b><%=products[i].name%></b> - <i><%=products[i].price.toFixed(2)%> грн</i>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="items">
                        <% for ( var i = 0; i < requiredProducts.length; i++ ) { %>
                        <li class="item" id="id-<%=requiredProducts[i].id%>">
                            <b><%=requiredProducts[i].name%></b>
                            <% if (lvl === 1) { %>
                            <img src="img/product/<%=shop.id%>_<%=requiredProducts[i].id%>.jpg">
                            <% } else { %>
                             <%=requiredProducts[i].isRequired%> шт.
                            <% } %>
                        </li>
                        <% } %>
                        </ul>
                        <div id = "cart">
                        </div>
                    <% if (lvl > 1) { %>
                        <div id = "done">
                        <h3>Я все взяв,</br> час на касу</h3>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="tmpl_pay">
    <div style="padding-top: 25px">
        <img class="pay" src="img/shop/<%=shop.id%>_girl.jpg">
        <div class="pay">
            <div style="text-align: center; padding-bottom: 40px">
                <h3>Тобі треба заплатити</h3>
            </div>
            <%var sum = 0; for (var i = 0; i < requiredProducts.length; i++) { sum += requiredProducts[i].price*requiredProducts[i].isRequired; %>
            <div style="padding-left: 20px; padding-right: 20px">
                <%=requiredProducts[i].name + ', '+requiredProducts[i].isRequired+' шт'%>
                <div style="float: right;">
                    <%=requiredProducts[i].price.toFixed(2)%>
                </div>
            </div>
            <% } %>
            <div>
                <h3> Всього: <%=sum.toFixed(2)%></h3>
            </div>
        </div>
        </div>
        <%if ( lvl > 1) { for (var i = 0; i < money.length; i++) { %>
        <img class="money" data-nom = "<%=money[i]%>" src="img/money/<%=money[i]%>.jpg">
        <%}%>
        <div id = "goHome"><h3>Заплатити та отримати решту</h3></div>
        <% } else { %><div id = "goHome"><h3>Подякувати та піти</h3></div>
        <% } %>
</script>

<script type="text/html" id="tmpl_result">
    <div class="panel">
        <div class="panel-heading">
            Ти все взяв
        </div>
        <div class="panel-body">
            <ul class="products">
                <% for (var i=0; i < requiredProducts.length; i++) { %>
                <li class="product">
                    <strike><b><%=products[i].name%></b> - <i><%=products[i].price%></i></strike>
                </li>
                <% } %>
        </div>
    </div>
    </div>
</script>

<!--меню-->
<div style='display:none'>
    <div id='menu' style='padding:10px; background:#fff;'>
<ul>
    <li ><a class="setLevel" href="#setLevel">Змінити рівень</a></li>
    <li><a href="reslts.html">Переглянути результати</a></li>
    <li class="clearHistory">Очистити історію</li>
    <li class="closeMenu">Повернутись до гри</li>
</ul>
    </div>
</div>
<div style="display: none">
    <div id="setLevel">
        <h2>Обери рівень</h2>
    <ul>
        <li><div class="level" data-lvl = "1">
            <h3>Перший рівень</h3>
            <ul>
            <li>Всі завдання дублюються аудіально;</li>
            <li>У списку покупок крім назви подається зображення товару;</li>
            <li>Кількість спроб вибору необмежена;</li>
            <li>Кожен товар у списку в єдиному екземплярі;</li>
            <li>Товари викреслюються зі списку автоматично;</li>
            <li>Коли кошик заповнений, гра автоматично переходить до наступного кроку</li>
            <li>Розрахунок на касі відбувається автоматично.</li>
                </ul>
        </div></li>
        <li><div class="level" data-lvl = "2">
            <h3>Другий рівень</h3>
            <ul>
                <li>Всі завдання дублюються аудіально;</li>
                <li>У списку покупок немає зображень;</li>
                <li>Кількість спроб вибору необмежена;</li>
                <li>Деяких товари потрібно декілька штук;</li>
                <li>Учень сам визначає, що кошик повний;</li>
                <li>Розраховуючись на касі, учень рахує суму чеку самостійно.</li>
            </ul>
        </div></li>
        <li><div class="level" data-lvl= "3">
            <h3>Третій рівень</h3>
            <ul>
                <li>Аудіодопомоги немає;</li>
                <li>Зі списку потрібно викреслити товар, що не підпадає під категорію</li>
                <li>Кількість покупок збільшується;</li>
                <li>Учень самостійно викреслює зі списку товари;</li>
                <li>Кількість спроб вибору обмежена;</li>
                <li>Розрахунки учень робить самостійно.</li>
            </ul>
        </div></li>
    </ul>
    </div>
</div>
</body>
</html>