<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>retarded4</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/my.css" />
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
    <!--<script type="text/javascript" src="js/bootstrap.js"></script>-->
    <script type="text/javascript" src="js/microtemplate.js"></script>
    <script type="text/javascript" src="app/helpers.js"></script>
    <script type="text/javascript" src="app/reslts.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
<div id = "page">

</div>

<script type="text/html" id="tmpl_graphs">
<div class="container">
    <div class="row">
        <% for (var i = 0; i < graphs.length; i++) {
        if (i%3 == 0 && i!=0) {%>
    </div><div class="row">
    <% } %>
    <div class="col-md-4" id="<%=graphs[i].id%>">
       <canvas>

       </canvas>
            <ul></ul>
    </div>
    <% } %>
</div>
</div>
</script>
<!--
<script>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
</script>
-->
<div id="chart_div" style="width: 900px; height: 500px;"></div>

</body>